<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://image.pollinations.ai/prompt/people-drinking-and-partying-at-a-bar-looking-happy-and-cheerful);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1">Find and connect with users <i class="fa-solid fa-users h1-font"></i></h1>
  </div>
</div>
