<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://image.pollinations.ai/prompt/cocktails-and-drinks-bartender);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1"><%= @profile.user.username %></h1>
  </div>
</div>
