<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://image.pollinations.ai/prompt/cocktails%20drinks%20party%20and%20lively%20atmosphere%20happiness);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1">Edit Cocktail <i class="fa-solid fa-martini-glass-citrus h1-font"></i></h1>
  </div>
</div>
