<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(https://www.pollinations.ai/prompt/beautiful-group-of-cocktails-and-a-big-party-inside-the-bar);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1">Edit Cocktail <i class="fa-solid fa-martini-glass-citrus h1-font"></i></h1>
  </div>
</div>
