<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.7)), url(<%= asset_path(hero_banner.sample) %>);">
  <div class="container">
    <h1 class="mt-5 mb-4 fs-1"><%= @user.first_name.capitalize %>'s Profile <i class="fa-solid fa-user h1-font"></i></h1>
  </div>
</div>
