.dark-grey-font {
  color: rgb(197, 197, 197);
}

h1 {
  color: #ff13f0;
  // font-weight: bold;
  text-shadow: 0 0 5px #ff13f0, 0 0 10px #ff13f0, 0 0 20px #ff13f0,
    0 0 40px #ff13f0;
}

h2 {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff,
    0 0 40px #00ffff;
}

h4 {
  color: #d8b4fe;
}

.txt-grey {
  color: #d3d3d3;
}

// .txt-pink {
//   color: #FF13F0;
// }

.ingredients {
  color: #d8b4fe;
}

.purple-font {
  color: #d8b4fe;
}

.light {
  color: #ffb6c1;
}

.brand-font {
  color: #f64ec2;
  // color: #772AFD;
}

.cyan-font {
  color: #00ffff;
}

.pink-font {
  color: #f64ec2;
}

.grey-font {
  color: #b0b0b0;
}

.d-flex p {
  margin: 0;
}

.h2-font {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff,
    0 0 40px #00ffff;
}

.h1-font {
  color: #ff13f0;
  filter: drop-shadow(0 0 2px #8a0c77) drop-shadow(0 0 5px #ff13f0);
}

.small {
  font-size: 0.875em;
}

.form-text {
  color: rgb(197, 197, 197);
  font-style: italic;
}
.form-text-label {
  color: rgb(197, 197, 197);
}
